@import "tailwindcss";
@import "tw-animate-css";
@import "@uiw/react-md-editor/markdown-editor.css";

body {
    font-family: var(--font-alan-sans), sans-serif;
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 24s linear infinite;
  }
  
  .animate-scroll:hover {
    animation-play-state: paused;
  }